body {
background-color: #efe9e9;
}

header {
display: flex;
background-color: #d668ec;
}

footer {
background-color: mi#eb67ba;
}

.cabecalho_imagem{
width: 200px;
height: 200px;
border-radius: 50%;
padding: 10px;
}