body {
background-color: #efe9e9;
}

header {
display: flex;
align-items: space-between;
background-color: #ec68aa;
}

footer {
background-color: mi#e07ebc;
}

.cabecalho_imagem{
width: 200px;
height: 200px;
border-radius: 50%;
padding: 20px;
}

.cabecalho_menu-list{
    margin: 20px;
}

.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;
}